/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

/******************************************
/* LAYOUT (Mobile First)
/*******************************************/

/* NAVBAR */
nav {
  background-color: rgb(102 118 138);
  padding: 2rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.menu {
  list-style-type: none;
}

.logo {
  width: 75px;
}

.item {
  color: white;
  margin: 1rem 0;
}

.item.button a {
  display: inline-block;
  background-color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 6px;
  color: rgb(102 118 138);
}

.item.button a:hover {
  background-color: rgb(102 118 138);
  color: white;
  border: 2px solid white;
  font-weight: 600;
}


/* HERO */
.hero {
  display: flex;
  padding: 2rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(102 118 138);
  color: white;
}

.hero h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 0;
}

.hero a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-radius: 6px;
}

.hero a:hover {
  background-color: white;
  color: rgb(102 118 138);
  font-weight: 600;
}

/* WHY */
.why {
  padding: 4rem 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.why h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

/* VISITS */
.visits {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(219 223 226);
}

.visit {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.visit div {
  margin: 2rem 0 0 0;
  width: 350px;
  height: 200px;
  background-color: rgb(102 118 138);
}

.visit h2 {
  margin: 2rem 0 0 0;
}

.visit p {
  font-size: 1rem;
  margin: 2rem 0;
}

.visit>a {
  text-decoration: none;
  color: black;
  padding: 1.5rem 3rem;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center
}

.visit a:hover {
  background-color: rgb(102 118 138);
  border: none;
  color: white;
  font-weight: 700;
}

/* VOLUNTEER */
.volunteer {
  display: flex;
  padding: 2rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.volunteer h2 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

.volunteer a {
  text-decoration: none;
  color: black;
  padding: 1.5rem 3rem;
  margin: 2rem 0;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center
}

.volunteer a:hover {
  background-color: rgb(102 118 138);
  border: none;
  color: white;
  font-weight: 700;
}

/* FOOTER */
footer {
  padding: 0 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(22 31 42);
  color: white;
}

footer>* {
  display: block;
  padding: 1rem;
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

footer i {
  font-size: 2rem;
}

footer a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* RESPONSIVENESS */
@media all and (max-width: 699px) {

  /* NAVBAR */
  .menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .menu li a {
    display: block;
  }

  .toggle {
    order: 1;
    font-size: 3rem;
    padding-right: 1rem;
    color: white;
  }

  .item.button {
    order: 3;
  }

  .item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
  }

  .active .item {
    display: block;
  }

  /* HERO */

  /* .hero {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  } */


}

@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    display: none;
  }
}
