/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

/******************************************
/* LAYOUT (Mobile First)
/*******************************************/

/* NAVBAR */
nav {
  background-color: black;
  padding: 1rem;
  margin: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
}

.logo {
  width: 75px;
  margin: 0;
  padding: 0;
}

.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
  color: white;
  margin: 1rem 0;
}

.item.button a {
  display: inline-block;
  order: 3;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 6px;
  border: 1px solid white;
  color: white;
  transition: all 0.5s;
}

.item.button a:hover {
  background-color: white;
  color: black;
}

.toggle {
  order: 1;
  font-size: 3rem;
  padding-right: 1rem;
  color: white;
}

.active .item {
  display: block;
}

/* HERO */
.hero {
  display: flex;
  padding: 12rem 2rem;
  margin: 1rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url('../img/level-ground-bg.png');
  background-position: bottom;
  color: white;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 0;
}

.hero a {
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-radius: 6px;
  transition: all 0.5s;
}

.hero a:hover {
  background-color: white;
  color: black;
  font-weight: 600;
}

/* WHY */
.why {
  padding: 12rem 2rem;
  margin: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.why h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

/* VISITS */
.visits {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(219 223 226);
}

.visit {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.visit div {
  margin: 2rem 0 0 0;
  width: 350px;
  height: 200px;
  background-color: rgb(102 118 138);
}

.visit h2 {
  margin: 2rem 0 0 0;
}

.visit p {
  font-size: 1rem;
  margin: 2rem 0;
}

.visit>a {
  text-decoration: none;
  color: black;
  padding: 1.5rem 3rem;
  margin: 2rem 0;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center
}

.visit a:hover {
  background-color: rgb(102 118 138);
  border: none;
  color: white;
  font-weight: 700;
}

/* VOLUNTEER */
.volunteer {
  display: flex;
  padding: 2rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.volunteer h2 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

.volunteer a {
  text-decoration: none;
  color: black;
  padding: 1.5rem 3rem;
  margin: 2rem 0;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center
}

.volunteer a:hover {
  background-color: rgb(102 118 138);
  border: none;
  color: white;
  font-weight: 700;
}

/* FOOTER */
footer {
  padding: 0 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(22 31 42);
  color: white;
}

footer>* {
  display: block;
  padding: 1rem;
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

footer i {
  font-size: 2rem;
}

footer a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* TABLET LAYOUT */
@media all and (min-width: 700px) {
  .menu {
    justify-content: space-around;
  }

  .menu>* {
    width: 25%;
  }

  .logo {
    flex: 1
  }

  .item {
    display: block;
    order: 1;
  }

  .item.button {
    order: 2;
    display: flex;
    justify-content: flex-end;
  }

  .toggle {
    display: none;
  }
}


/* DESKTOP LAYOUT */

@media all and (min-width: 900px) {
  p {
    width: 40%;
    font-size: 1.25rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .visit {
    width: 50%;
  }

  footer {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  footer>* {
    width: 20%;
  }

  .social-icons {
    justify-content: flex-start;
  }

  .social-icons>* {
    width: 50px;
    text-align: center;
  }

  footer>*:last-child {
    width: 100%;
    text-align: center;
  }
}
