/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}


/******************************************
/* LAYOUT
/*******************************************/

/* NAVBAR */

nav {
  background-color: rgb(245, 249, 252);
}

.logo {
  display: block;
  text-decoration: none;
  color: rgb(44, 68, 88);
  font-weight: 800;
  font-size: 30px;
  margin: 1rem 0 1rem 2rem;
  float: left;
}

.nav-btn {
  padding: 10px 18px;
  color: white;
  background-color: rgb(44, 68, 88);
  border-radius: 6px;
  margin: 1rem 2rem 1rem 0;
  float: right
}

nav ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 87%;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  color: rgb(44, 68, 88);
  text-align: center;
  padding: 1.5rem 2rem;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgb(44, 68, 88);
  color: white;
}


/* MAIN */

main {
  background-color: rgb(245, 249, 252);
  height: 35rem;
  padding-left: 9rem;
  padding-top: 8rem
}

main span {
  color: rgb(133, 154, 174);
  font-weight: 600;
  font-size: 12px;
}

main h1 {
  width: 300px;
  color: rgb(44, 68, 88);
  margin-bottom: 2rem;
}

main input {
  height: 2.5rem;
  width: 18rem;
  background-color: rgb(226, 234, 240);
  border: none;
  margin-bottom: 1rem;
}

main button {
  height: 2.5rem;
  width: 6rem;
  background-color: rgb(44, 68, 88);
  color: white;
  border: 0;
}

main p {
  color: rgb(44, 68, 88);
  line-height: 1.25;
  width: 350px;
}

/* FEATURE SET SECTION */
.feature-set {
  height: 20rem;
  background-color: rgb(245, 249, 252);
  color: rgb(44, 68, 88);
}

.feature-set>section {
  margin-left: 9rem;
}

.feature-set section {
  float: left;
  width: 220px;
}

.feature-set h2 {
  margin-top: 0;
  font-size: 32px;
}

.feature-set a {
  text-decoration: none;
  color: rgb(44, 68, 88);
  font-weight: bold;
}

/* DEEP DIVE SECTION */

.deep-dive {
  clear: both;
  padding-left: 9rem;
  padding-top: 3rem;
}

.deep-dive h2 {
  font-size: 2rem;
  width: 400px;
  color: rgb(44, 68, 88);
}

.deep-dive p {
  width: 550px;
  line-height: 1.5;
  color: rgb(133, 154, 174);
  margin-bottom: 1rem;
}

.img-placeholder {
  width: 90%;
  height: 600px;
  background-color: rgb(226, 234, 240);
  margin: 2rem 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
