/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}


/******************************************
/* LAYOUT
/*******************************************/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: rgb(44, 68, 88);
  text-align: center;
  padding: 2rem 2rem;
  text-decoration: none;
}

.logo {
  font-weight: 800;
  font-size: 30px;
  padding: 1.5rem 24rem 1.5rem 2rem;
}

.nav-btn-container {
  float: right;
  padding: 1.5rem 2rem;
}

.nav-btn {
  padding: 10px 18px;
  color: white;
  background-color: rgb(44, 68, 88);
  border-radius: 6px;
}

nav ul li a:hover {
  background-color: rgb(44, 68, 88);
  color: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
