/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0;
  font-family: sans-serif
}

a {
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
  height: 110px;
  border-bottom: 1px solid lightgray;
  padding: 2% 0;
  font-size: 18px;
  font-weight: bold;
}

.nav-logo {
  width: 20%;
  float: left;
  margin-left: 10%;
  margin-right: 10%;
}

.nav-list {
  list-style: none;
  float: left;
  width: 30%;
}

nav li {
  display: inline-block;
  text-align: center;
  margin: 0 2%;
}

main {
  clear: both;
}

main>img {
  margin-left: 5%;
  width: 45%;
  float: left;
}

main>section {
  float: left;
  width: 40%;
  padding-top: 10%;
  padding-left: 5%;
}

main h1 {
  font-size: 50px;
  font-family: serif;
}

.main-list {
  list-style: none;
  padding-left: 0;
}

.main-list li {
  display: inline-block;
}

.main-list a {
  display: block;
  width: 100px;
  height: 40px;
  padding-left: 1.1em;
  padding-top: 0.6em;
  background-color: #0a49bb;
  color: whitesmoke;
  border-radius: 8px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
