/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/

/* MOBILE FIRST */

/* NAVBAR */
nav {
  padding: 2rem;
  margin: 1rem;
  background-color: black;
}

nav a {
  display: block;
  text-decoration: none;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  font-size: 2rem;
  color: white;
}

.logo {
  font-size: 3rem;
}

.toggle {
  font-size: 3rem;
}

/* Hide items at first in mobile, toggle shows them */

.item {
  order: 2;
  width: 100%;
  display: none;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0;
}

.active .item {
  display: block
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
