/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  background-image: url('../img/restaurant-bg.png');
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
}

/******************************************
/* LAYOUT
/*******************************************/

/* MOBILE FIRST */

/* NAVBAR */
nav {
  padding: 1rem;
  margin: 1rem;
  border: 2px solid white;
}

nav a {
  display: block;
  text-decoration: none;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  font-size: 2rem;
  color: white;
}

.logo {
  font-size: 3rem;
}

.company-name {
  display: none;
}

.toggle {
  font-size: 3rem;
}

/* Hide items at first in mobile, toggle shows them */

.item {
  order: 2;
  width: 100%;
  display: none;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0;
}

.active .item {
  display: block
}

/* MAIN */
main {
  margin: 1rem;
  padding: 3rem 0;
}

main h1 {
  font-size: 4rem;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

input {
  text-align: center;
  margin: 1.5rem auto;
  padding: 1rem 5rem;
  font-size: 1.5rem;
  border-radius: 3px;
  border: none;
}

.button {
  text-decoration: none;
  padding: 0.5rem 3rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgba(255, 69, 0, 0.7);
  color: white;
  border-radius: 3px;
  border: 2px solid white;
  transition: all 0.5s;
}

.button:hover {
  background-color: orangered;
}

.main-socials {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  padding: 0;
}

.main-socials a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  display: block;
}

.main-socials i {
  color: orangered;
  margin-right: 1rem;
}

.main-socials i:hover {
  color: white;
}

/* ABOUT */
.about {
  margin: 1rem;
  padding: 4rem 2rem;
  color: black;
  background-color: white;
  text-align: left;
}

.about span {
  color: orangered
}

.about .button {
  background-color: orangered;
  transition: 0.5s;
}

.about .button:hover {
  background-color: rgba(255, 69, 0, 0.7);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
