/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 100%;
}

body {
  font-family: 'Libre Carlson Text', serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* NAV */
nav {
  height: 4rem;
  border-bottom: 1px solid lightgray;
}

nav ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 0 2rem 2rem 3rem;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: lightgray;
  font-weight: 700;
}

.navEnd {
  display: inline-block;
  font-size: 1.25rem;
}

/* MAIN */
main {
  height: 70rem;
  background-color: darkgrey;
  color: white;
  text-transform: uppercase;
  padding-left: 9rem;
}

main h1 {
  padding-top: 15rem;
  font-size: 5rem;
  width: 800px;
  margin-bottom: 1rem;
}

main p {
  margin-bottom: 1rem;
}

main>a {
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  margin-bottom: 4rem;
  text-decoration: none;
  color: white;
  background-color: black;
}

/* COUPON SECTION */
.coupon {
  width: 300px;
  height: 350px;
  background-color: black;
}

.coupon h3 {
  margin: 0 0 2rem 2rem;
  padding-top: 3rem;
}

.coupon p,
.coupon a {
  margin: 0 0 2rem 2rem;
}

.coupon p {
  font-size: 1.5rem;
}

.coupon span {
  font-weight: bold;
  font-size: 3rem;
}

.coupon a {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: white;
  color: black;
}

/* ABOUT SECTION */
.about {
  width: 80%;
  height: 20rem;
  margin: 0 10%;
  padding-top: 4rem;
}

.about section {
  margin: 0;
  padding: 0 0 5rem;
  width: 33.33%;
  float: left;
  text-align: center;
}

.placeholder-small {
  width: 150px;
  height: 150px;
  border: 5px solid lightslategray;
  margin: 0 auto;
}

.about h3 {
  text-transform: uppercase;
}

.about p {
  display: block;
  width: 200px;
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 0 auto;
}

/* MORE INFO SECTION */
.more-info {
  clear: both;
  height: 30rem;
  width: 100%;
  background-color: lightgray;
  overflow: auto;
}

.more-info>section {
  width: 30%;
  margin: 6rem 2rem 2rem 15rem;
  float: left;
}

.more-info h2 {
  font-size: 3rem;
}

.placeholder-video {
  width: 30%;
  height: 300px;
  float: left;
  margin: 9rem 16rem 2rem 2rem;
  border: 4px solid black;
}

.more-info>section a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem 3rem;
  margin-top: 2rem;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
