* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 900px;
}

.row-1 div {
    float: left;
    width: 33.33%;
    height: 100px;
    background-color: lightcoral;
    border: 2px solid lightgray;
    text-align: center;
}

.row-2 div {
    float: left;
    width: 50%;
    height: 125px;
    background-color: lightblue;
    border: 2px solid lightgray;
    text-align: center;
}

.full-row {
    clear: both;
    height: 125px;
    text-align: center;
    background-color: lightgreen;
    border: 1px solid lightgrey;
}
